<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="container p-2">
        <h3 class="text-start p-2 mb-3">SSD 메인 노트북 반출 내역</h3>
        <div class="mb-3 row">
            <label for="name" class="col-2 col-form-label text-start">이름</label>
            <div class="col">
                <input type="text" class="form-control" id="name" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="name" class="col-2 col-form-label text-start">일련번호</label>
            <div class="col">
                <input type="text" class="form-control" id="name" value="">
            </div>
        </div>
        <div class="row">
            <div class="">
                <button type="submit" class="btn btn-primary">검색</button>
                <button type="button" class="btn btn-secondary ms-2">초기화</button>
            </div>
        </div>
    </div>
</div>
